@model ErrorViewModel
@{
    ViewData["Title"] = "Virhe!";
}

<h1 class="text-danger">Virhe!</h1>
<h2 class="text-danger">Jokin meni nyt pieleen, yritä uudelleen.</h2>
<p>Tapahtuman tunniste: @Model.RequestId</p>
