@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Salasanan unohtamisen vahvistus";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tarkista sähköpostisi ja vahvista salasanan unohtaminen.
</p>

