@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Sähköpostin vahvistus";
}

<h1>@ViewData["Title"]</h1>
<p>Tarkista sähköposti ja vahvista painamalla linkkiä</p>
<p>Sinut voidaan myös hyväksyä pääkäyttäjän toimesta.</p>
