@using PackageLicenses
@{
    var licenses = await PackageLicenses.LicenseUtility.GetLicencesAsync();
}


<h2>Lisenssit</h2>
<ol>
    @foreach (var item in licenses)
    {
            <li>@item.Name | <a href="@item.DownloadUri">@item.DownloadUri</a> | @item.Text</li>
    }
</ol>